body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

textarea {
    width: 60%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #6e22c5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}